<nav>
    <mat-button-toggle-group
    name="fontStyle" 
    aria-label="Font Style">
        <mat-button-toggle
        mwlCalendarPreviousView
        value="bold"
        [(viewDate)]="viewDate"
        [view]="viewMode"
        (click)="checkCurrentMonth()"
        >
            <mat-icon>
                arrow_back
            </mat-icon>
        </mat-button-toggle>
        <mat-button-toggle
        mwlCalendarToday 
        [(viewDate)]="viewDate" 
        value="italic"
        (click)="checkCurrentMonth()"
        >
            <mat-icon>
                calendar_today
            </mat-icon>
        </mat-button-toggle>
        <mat-button-toggle
        mwlCalendarNextView
        [(viewDate)]="viewDate"
        [view]="viewMode"
        (click)="checkCurrentMonth()"
        >
            <mat-icon>
                arrow_forward
            </mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>

    <span>
        {{ viewDate | calendarDate:(viewMode + 'ViewTitle') }}
    </span>

    <mat-button-toggle-group 
    name="fontStyle" 
    aria-label="Font Style" 
    [(ngModel)]="viewButton">
        <mat-button-toggle 
        [value]="calendarView.Month" 
        (click)="setView(calendarView.Month)">
            <mat-icon>
                calendar_view_month
            </mat-icon>
        </mat-button-toggle>
        <mat-button-toggle 
        [value]="calendarView.Week" 
        (click)="setView(calendarView.Week)">
            <mat-icon>
                calendar_view_week
            </mat-icon>
        </mat-button-toggle>
        <mat-button-toggle 
        [value]="calendarView.Day" 
        (click)="setView(calendarView.Day)">
            <mat-icon>
                calendar_view_day
            </mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
</nav>

<main [ngSwitch]="viewMode">
    <mwl-calendar-month-view
    *ngSwitchCase="calendarView.Month"
    [viewDate]="viewDate" 
    [events]="events"
    (eventClicked)="openSchedule($event.event)"
    (dayClicked)="dayClicked($event.day)"
    >
    </mwl-calendar-month-view>

    <mwl-calendar-week-view
    *ngSwitchCase="calendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [dayStartHour]="9"
    [dayEndHour]="16"
    (eventClicked)="openSchedule($event.event)"
    [refresh]="homeService._refreshNeeded$" 
    [minimumEventHeight] = 2
    [hourSegments] = 2
    [hourSegmentHeight] = 70
    >
    </mwl-calendar-week-view>

    <mwl-calendar-day-view
    *ngSwitchCase="calendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    (eventClicked)="openSchedule($event.event)"
    [dayStartHour]="9"
    [dayEndHour]="16"
    [hourSegments]= 2
    [hourSegmentHeight]= 50
    >
    </mwl-calendar-day-view>
</main>