<h1 mat-dialog-title>Novo Agendamento</h1>
<main mat-dialog-content>
    <form [formGroup]="createEventForm">
        <mat-form-field appearance="fill">
            <mat-label>Data</mat-label>
            <input 
            matInput 
            formControlName="diaAgendamento"
            [matDatepicker]="picker"
            readonly
            >
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Propriedade</mat-label>
            <input 
            type="text"
            placeholder="Selectione uma propriedade"
            matInput
            formControlName="propriedadeID"
            [matAutocomplete]="auto"
            >
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
                <mat-option *ngFor="let propriety of filteredOptions | async" [value]="propriety">
                    {{ propriety.enderecoCompleto }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Checkout</mat-label>
            <mat-hint>Agendamentos para o dia seguinte: até 17h00</mat-hint>
            <mat-select formControlName="checkout">
                <mat-option value="10:00">10:00</mat-option>
                <mat-option value="11:00">11:00</mat-option>
                <mat-option value="12:00">12:00</mat-option>
                <mat-option value="13:00">13:00</mat-option>
                <mat-option value="14:00">14:00</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-label>Checkin</mat-label>
        <mat-radio-group formControlName="checkin">
            <mat-radio-button class="example-margin" value="16:00">Sim</mat-radio-button>
            <mat-radio-button class="example-margin" value="">Não </mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="fill">
            <mat-label>Observações</mat-label>
            <input matInput formControlName="obs">
        </mat-form-field>
    </form>
</main>
<footer mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onCreate()">
        <mat-icon>
            save
        </mat-icon>
            &nbsp;Cadastrar
    </button>
    <button mat-raised-button (click)="dialogService.closeSchedulerDialog()">
        <mat-icon>
            reply
        </mat-icon>
            &nbsp;Voltar
    </button>
</footer>
