@use '@angular/material' as mat;

@include mat.core();


$md-primary: (
    50 : #e0ebf5,
    100 : #b3cde5,
    200 : #80acd4,
    300 : #4d8bc3,
    400 : #2672b6,
    500 : #0059a9,
    600 : #0051a2,
    700 : #004898,
    800 : #003e8f,
    900 : #002e7e,
    A100 : #acc3ff,
    A200 : #799eff,
    A400 : #4679ff,
    A700 : #2c67ff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #fce5e5,
    100 : #f7bdbf,
    200 : #f29294,
    300 : #ed6669,
    400 : #e94548,
    500 : #e52428,
    600 : #e22024,
    700 : #de1b1e,
    800 : #da1618,
    900 : #d30d0f,
    A100 : #ffffff,
    A200 : #ffcccc,
    A400 : #ff999a,
    A700 : #ff8080,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-primary: mat.define-palette($md-primary);
$my-accent: mat.define-palette($md-accent);

$my-theme: mat.define-light-theme((color: (primary: $my-primary,
                accent: $my-accent,
            ),
        ));

@include mat.all-component-themes($my-theme);

@font-face {
    font-family: Museo;
    src: url("/assets/fonts/Museo900.woff") format(woff);
}

:root {
    --color-accent: #e52428;
    --color-primary: #0059a9;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Museo;
}

.cal-week-view {

    // .cal-event {
    //     background-color: #0059a9;
    //     border-color: unset;
    //     color: #fff;
    // }

    .cal-header {

        &.cal-today {
            background-color: lighten(#0059a9, 50);
        }

        &.cal-weekend {
            span {
                color: var(--color-accent);
                opacity: 1;
            }
        }
    }
}

.cal-month-view {
    .cal-day-badge {
        background-color: var(--color-accent);
    }

    // .cal-event {
    //     background-color: #0059a9;
    //     border-color: unset;
    //     color: #fff;
    // }

    .cal-day-cell {

        &.cal-today {
            background-color: lighten(#0059a9, 50) !important;
        }

        &.cal-weekend {
            .cal-day-number {
                color: var(--color-accent);
                opacity: 1;
            }
        }
    }
}

.mat-drawer-inner-container {
    background-color: var(--color-primary);
    padding: 12px;
    color: #fff;

    .mdc-button {
        color: #fff !important;
        display: block;
    }
}

.mat-drawer {
    overflow: hidden !important;
}

.mat-drawer-container {
    min-height: 100vh;
}

.cdk-overlay-backdrop-showing {
    backdrop-filter: blur(10px);
}

.error-snackbar {
    max-width: max-content !important;
    --mdc-snackbar-container-color: #e93336;
    --mdc-snackbar-supporting-text-weight: 450;
    --mdc-snackbar-supporting-text-size: 16px;
    
    text-align: center !important;
}

.warning-snackbar {
    max-width: max-content !important;
    --mdc-snackbar-container-color: var(--color-primary);
    --mdc-snackbar-supporting-text-weight: 450;
    --mdc-snackbar-supporting-text-size: 16px;
    
    text-align: center !important;
}

.cal-day-badge {
    background-color: var(--color-accent);
    color: white !important;
}

.cal-day-badge {
    margin-top: 18px;
    margin-left: 10px;
    display: block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    border-radius: 10px;
    float: right;
}

.cal-past {
    background-color: #f2f2f2;
}